# Environment
.env
.env.backup
.env.testing
.env.production
.env.local
.phpunit.result.cache

# Dependencies
/vendor
/node_modules

# Storage
/storage/*.key
/storage/logs/*
/storage/app/public/payment_proofs/*
/public/storage
/public/hot

# IDE
.idea
.vscode/*
!.vscode/extensions.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
/public/build
/public/css
/public/js

# Database
*.sqlite
*.sqlite3

# Composer
composer.phar

# NPM
npm-debug.log
yarn-error.log